<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gibilius</title>
  </head>
  <body>
    <h1>Header</h1>

    {{> @partial-block }}
<h4>Andrei Ivan</h4>
    <footer>haules</footer>
  </body>
</html>